<h3>
    Frequently Asked Questions

</h3>

<div class="main">
    
    
   
    
    <h3>
        What is Dealz22?
    </h3>
    <p>
        Dealz22 is a platform with a lot of possibilities to get the exciting prizes you desire. One may find it impossible
        to win a grand prize by participating in deals. But, Dealz22 gives you the advantage of winning the grand rewards by
        balancing the deals and the number of participants. Anytime you visit Dealz22, you will find 22 crazy deals with
        different prizes going on. The fantastic fact about the deals is that these are accessed by a limited number of
        buyers, and in the end, we have a grand reward for one of our lucky customers. At Dealz22, we add value to your
        every purchase by giving you coins with currency value that you can redeem.
    
    </p>
    <h3>
        How can I start winning prizes at Dealz22?
    
    </h3>
    <p>
        Dealz22 is the most straightforward platform with no hidden complicated techniques involved, and easy to adopt. You
        just need to discover and buy the deals whose prizes exhilarate you. The deals are sold in limited amounts;
        therefore, the odds of grabbing the grand reward are heightened. And to boost your likelihood of winning, get more
        deals for yourself.
    
    </p>
    <h3>
        Where can I find Dealz22?
    
    </h3>
    <p>
        The platform interface is accessible on multiple devices, including Desktop, Smartphones, and tablets.
    
    </p>
    <h3>
        Where and how to contact us?
    
    </h3>
    <p>
        Dealz22 is an Indian platform based in (Bengaluru), India. To connect with us, you can drop us a mail at
        (contact@dealz22.com).
    
    </p>
    
    <h3>
        Who can use Dealz22?
    
    </h3>
    <p>
        Dealz22 can be used by all individuals above 18 years of age as monetary transactions are involved.
    
    </p>
    
    <h3>
        Is Dealz22 open for users from all countries?
    
    </h3>
    <p>
        Yes, the Platform is accessible globally for all users. However, the Platform is based in India; International users
        may refer to the (Terms of Use) before using.
    
    </p>
    <h3>
        Do Dealz22 support iOS and Android devices?
    
    </h3>
    <p>
        Yes, the application is available for both Apple store and Google Play Store systems.
    
    </p>
    <h3>
        I am a new user; how can I start winning on Dealz?
    
    </h3>
    <p>
        Without any complicated steps, you are just required to register on Dealz22 with all the necessary details, and the
        Platform is open to use after that.
        You can register anywhere, either on the Website or on the App.
        Just click the ‘Login/Register’ button, then register as a "New User".
        Register yourself with a Username, Strong Password and Profile Details,
    
        It is very simple: get on a deal, buy the product, in order to participate in deal Get lucky to
    
        Participate more
    </p>
    
    <h3>
        Is it necessary to register?
    
    </h3>
    <p>
        Yes, registering is mandatory if you wish to participate in the exciting deals on the Platform, as each user needs
        to have an identity to maintain integrity.
    
    </p>
    
    <h3>
        Can I edit my Profile anytime?
    
    </h3>
    
    <p>
        Yes, you can visit the My Profile section and edit the details, and profile photo, whenever needed to be updated.
    
    </p>
    
    <h3>
        How can I Logout/Signout?
    
    </h3>
    <p>
        With just one click on the Sign-out button, you can Sign Out of the Platform. However, you can save your Password
        safely in your Browser for future access.
    
    </p>
    
    <h3>
        I do not remember my Login Password; what can I do?
    
    </h3>
    <p>
        Go to the 'Login/SignUp' and then click the 'Forget password'. After that, enter the username/email id, and the
        reset password will be shared with your registered email.
    
    </p>
    <h3>
        How do I change my Password?
        
    
    </h3>
    <p>
        To ensure security, it is wise to keep changing your Password.
        To do so, go to My Account and select the Change Password button in the security section. Then, enter your old
        password for verification and the new one to be updated.
    </p>
    <h3>
        What are the payment options available?
    
    </h3>
    <p>
        Well, we accept multiple payment options for our users' ease. You can initiate a transaction using any of your
        Credit/Debit cards. Moreover, you can save the payment option used for the next transaction.
    
    </p>
    <h3>
        Are there any hidden charges for the transactions?
    
    </h3>
    <p>
        No, there aren't any hidden charges on the Platform. However, depending on your bank's payment methods, please have
        a check on that end.
    
    </p>
    <h3>
        Is it necessary to do transactions with my own account?
    
    </h3>
    <p>
        No, you can use any account, whether yours or your known ones. Make sure that you have rights/permission to do so.
        Dealz22 will not be responsible for any problems if raised later.
    
    </p>
    <h3>
        What if a transaction fails midway or gets unsuccessful?
    
    </h3>
    <p>
        Do not worry about your penny; Dealz22 is wholly secured and does not take the amount for no purchases done.
        Furthermore, the amount will be refunded from your bank's end within the refund duration.
    
    </p>
    <h3>
        Can I cancel a transaction or seek a refund after a successful purchase?
    
    </h3>
    <p>
        For a successful purchase, we have terms that explain that there can be no refund in any terms once the purchase is
        made.
    
    </p>
    <h3>
        Will I get notifications and updates if I log out?
    
    </h3>
    <p>
        No, you will just be receiving the general platform notifications and not the ones relevant to your account;
        therefore, try to be logged in and never miss any exciting opportunity.
    
    </p>
    <h3>
        Why am I not getting the notification even after being Logged in on mobile?
    
    </h3>
    <p>
        Kindly go to the settings and then check the notification settings. Make sure that the notifications and sound for
        Dealz22 are turned on/allowed.
    
    </p>
    <h3>
        What is the token?
    
    </h3>
    <p>
        An exciting feature of the Platform is the rewards you receive for every transaction made on the Platform.
    
    </p>
    <h3>
        Do tokens have any value or benefits?
    
    </h3>
    <p>
        Definitely, the token being collected has a monetary value that can bring you discounts and offers on upcoming
        purchases.
    
    </p>
    <h3>
        Can I use tokens along with money to make purchases?
    
    </h3>
    <p>
        Yes, the tokens are the valuable points of the Dealz22 platform, which can be combined with a cash component to get
        discounted prices.
    
    </p>
    <h3>
        How can I transfer the tokens to someone's account?
    
    </h3>
    <p>
        The tokens are not transferable to another account. Instead, the tokens are valued on a single account based on the
        transactions made on the particular account.
    
    </p>
    <h3>
        Can I buy these tokens?
    
    </h3>
    <p>
        Yes, tokens can be purchased separately on the platform and the same can be used to purchase the product as these
        tokens carry out a monetary value.
    
    </p>
    <h3>
        What are the levels or categories of my account?
    
    </h3>
    <p>
        The levels are based on the time spent on dealz and transactions of the user on the platform. Therefore, the
        existing users are given new user levels.
    
    </p>
    <h3>
        How can my profile level be promoted to a higher level?
    
    </h3>
    <p>
        The levels are completely based upon the time and number of transactions made on the platform. Therefore, the more
        tokens you collect, the faster your Profile grows. And automatically, your Profile will upgrade to the advanced
        level.
    
    </p>
    <h3>
        How can I delete/close my account on Dealz22?
    
    </h3>
    
    <p>
        Just drop us a mail on (contact@dealz22.com), and within 48 hours, the support team will connect to you and assist
        you with an easy process.
    
    </p>
    
</div>