<p-sidebar [(visible)]="showSidebar" position="right">
    <div class="sideBar">
       <img src="../../assets/logo.PNG" routerLink="/">
       <!-- links for user -->
       <!-- <button pButton type="button" label="My Profile" icon="pi pi-user" routerLink="/settings"></button> -->
       <!-- <button pButton type="button" label="My Orders" icon="pi pi-shopping-cart" routerLink="/orders"></button> -->
       <!-- cart -->
       <!-- <button pButton type="button" label="Cart" icon="pi pi-shopping-cart" routerLink="/cart"></button> -->
       <!-- logout -->
       <!-- <button pButton type="button" label="Logout" icon="pi pi-sign-out" (click)="logOut()"></button> -->
       <!-- Use div instead of button -->
       <div class="sideBarLink" routerLink="/settings">
          <i class="pi pi-user"></i>
          <span>My Profile</span>
       </div>
       <div class="sideBarLink" routerLink="/orders">
          <i class="pi pi-shopping-cart"></i>
          <span>My Orders</span>
       </div>
       <div class="sideBarLink" routerLink="/cart">
          <i class="pi pi-shopping-cart"></i>
          <span>Cart</span>
       </div>
       
       <!-- buy-tokens -->
       <div class="sideBarLink" routerLink="/buy-tokens">
          <i class="pi pi-shopping-cart"></i>
          <span>Buy Tokens</span>
       </div>
 
       <!--fotgot password  -->
       <div class="sideBarLink" routerLink="/forgot-password">
          <!-- reset password icon -->
          <i class="pi pi-refresh"></i>
          <span>Reset Password</span>
       </div>
 
       <div class="sideBarLink" routerLink="/how-it-works">
        <!-- How It works icon -->
        <i class="pi pi-question-circle"></i>
        <span>How it Works</span>
     </div>
     
     <div class="sideBarLink" routerLink="/faqs">
        <!-- How It works icon -->
        <i class="pi pi-question-circle"></i>
        <span>Help Center</span>
     </div>
     
     <div class="sideBarLink" routerLink="/faqs">
        <!-- How It works icon -->
        <i class="pi pi-question-circle"></i>
        <span>Help Center</span>
     </div>
     
       <div class="sideBarLink" (click)="logOut()">
          <i class="pi pi-sign-out"></i>
          <span>Logout</span>
       </div>
 
    </div>
 </p-sidebar>
<div class="main">
    <div class="navBarContainer">
        <img src="../../assets/logo.PNG" routerLink="/" />
        <div class="navBar">
            <button class="settingsIcon" routerLink="/settings">
            <i class="fa fa-gear"></i>

            </button>
         <i class="fa-solid fa-bars" (click)="showSidebar=true"></i>

        </div>
    </div>
    <div class="options">
        <h3>
            Orders
        </h3>
        <div class="buttons">
            <!-- chevron left and tight buttons -->
            <button class="left" (click)="previousPage()">
                <i class="fa fa-chevron-left"></i>
            </button>
            <h5>Showing  {{((currentPage-1)*10)+1}} - {{totalOrders>(currentPage*10)?(currentPage*10):totalOrders}} of {{totalOrders}}</h5>
            <button class="right" (click)="nextPage()">
                <i class="fa fa-chevron-right"></i>
            </button>

        </div>
    </div>
    
    <div class="orders">
        <div class="order" *ngFor="let order of orders">
            <h5>
                {{order._id}}
            </h5>

            <div class="orderItem">
                <div class="title">Amount Paid</div>
                <div class="value">{{order.order_amount | currency:"INR"}}</div>
            </div>
            <div class="orderItem">
                <div class="title">Order Date</div>
                <div class="value">{{order.order_date}}</div>
            </div>
            <p-accordion>
                <p-accordionTab header="Items">
                  <div class="items">
                    <div class="item" *ngFor="let item of order.order_items">
                        <h3>{{item.name}}</h3>
                       <div class="itemRow">
                        <h3>Item Status</h3>
                        <h5>{{(item.status!=undefined && item.status!=null && item.status.toString().length!=0)?item.status:"Placed"}}</h5>
                       </div>

                       <div class="itemRow">
                        <h3>Item Track Url</h3>
                        <h5>{{(item.track_url!=undefined && item.track_url!=null && item.track_url.toString().length!=0)?"":"No Tracking Url Provided"}}
                            <a *ngIf="(item.track_url!=undefined && item.track_url!=null && item.track_url.toString().length!=0)" target="_blank" [href]="item.track_url">link</a>
                        </h5>
                       </div>
                       
                       <div class="itemRow">
                        <h3>Quantity Purchased</h3>
                        <h5>{{item.quantity}}</h5>
                       </div>
                       <div class="itemRow">
                        <h3>Image</h3>
                        <img [src]="serverUrl+item.image" />
                       </div>
                    </div>
                  </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>