<div class="main">

    <div class="forgot">
        <img src="../../assets/logo.PNG" routerLink="/" alt="Logo" />

        <h3>Forgot Password</h3>
        <!-- prime ng input with blue highlight focusring-->
        <input type="number" pInputText [(ngModel)]="user.phone"  placeholder="Enter Phone Number" />
        <button pButton type="button" label="Send" (click)="sendOtp()"></button>
        <input type="text" pInputText [(ngModel)]="user.otp" placeholder="Enter OTP" />
        <input type="password" pInputText [(ngModel)]="user.password" placeholder="New Password" />
        <button pButton type="button" label="Reset" (click)="verifyOtp()"></button>
    </div>
</div>