<p-sidebar [(visible)]="showSidebar" position="right">
    <div class="sideBar">
       <img src="../../assets/logo.PNG">
       <!-- links for user -->
       <!-- <button pButton type="button" label="My Profile" icon="pi pi-user" routerLink="/settings"></button> -->
       <!-- <button pButton type="button" label="My Orders" icon="pi pi-shopping-cart" routerLink="/orders"></button> -->
       <!-- cart -->
       <!-- <button pButton type="button" label="Cart" icon="pi pi-shopping-cart" routerLink="/cart"></button> -->
       <!-- logout -->
       <!-- <button pButton type="button" label="Logout" icon="pi pi-sign-out" (click)="logOut()"></button> -->
       <!-- Use div instead of button -->
       <div class="sideBarLink" routerLink="/settings">
          <i class="pi pi-user"></i>
          <span>My Profile</span>
       </div>
       <div class="sideBarLink" routerLink="/orders">
          <i class="pi pi-shopping-cart"></i>
          <span>My Orders</span>
       </div>
       <div class="sideBarLink" routerLink="/cart">
          <i class="pi pi-shopping-cart"></i>
          <span>Cart</span>
       </div>
       
       <!-- buy-tokens -->
       <div class="sideBarLink" routerLink="/buy-tokens">
          <i class="pi pi-shopping-cart"></i>
          <span>Buy Tokens</span>
       </div>
 
       <!--fotgot password  -->
       <div class="sideBarLink" routerLink="/forgot-password">
          <!-- reset password icon -->
          <i class="pi pi-refresh"></i>
          <span>Reset Password</span>
       </div>
       <div class="sideBarLink" routerLink="/how-it-works">
        <!-- How It works icon -->
        <i class="pi pi-question-circle"></i>
        <span>How it Works</span>
     </div>
     
     <div class="sideBarLink" routerLink="/faqs">
        <!-- How It works icon -->
        <i class="pi pi-question-circle"></i>
        <span>Help Center</span>
     </div>
 
       <div class="sideBarLink" (click)="logOut()">
          <i class="pi pi-sign-out"></i>
          <span>Logout</span>
       </div>
 
    </div>
 </p-sidebar>
<div class="main">
    <div class="navBar">
        <div class="left">
            <img src="../../assets/logo.PNG" />
            <a routerLink="/orders">
                <span >Orders</span>
            </a>
        </div>
        <div class="right">
            <button (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>

                <span>
                <!-- Dontawesome logout  -->
                    Logout
                
                </span>
            </button>
         <i class="fa-solid fa-bars" (click)="showSidebar=true"></i>

        </div>
    </div>
    <div class="mainBody">
        <div class="progress">
            <!-- primeng progress bar -->
            <h5>Profile Progress</h5>
            <p-progressBar [value]="progressValue" [showValue]="false" [style]="{'.p-progressbar-value':{'background-color':'red'}}"></p-progressBar>
            <h5>{{progressValue}} %</h5>
        </div>

        <div class="profilePic">
            <img [src]="(photoUrl!=null && photoUrl!=undefined && photoUrl!='')?photoUrl:'../../assets/user.png'" />
            <label class="customInput">
                <!-- font awesome edit -->
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <input type="file" class="file-input"
                    id="file-upload" (change)="setb64($event)"  placeholder="Product Image">
            </label>
            
        </div>
        <div class="address">
            <h3>Shipping Address</h3>
            <input [(ngModel)]="address.house_number" type="text" placeholder="House No / Flat No" pInputText />
            <input [(ngModel)]="address.street" type="text" placeholder="Street" pInputText />
            <input [(ngModel)]="address.city" type="text" placeholder="City" pInputText />
            <input [(ngModel)]="address.state" type="text" placeholder="State" pInputText />
            <input [(ngModel)]="address.pincode" type="text" placeholder="Pincode" pInputText />
            <input [(ngModel)]="address.landmark" type="text" placeholder="Landmark" pInputText />
            <button (click)="saveAddress()" pButton type="button" label="Save" icon="pi pi-check" class="p-button-success"></button>
        </div>

        <div class="address">
            <h3>Profile</h3>
            <input type="text" [(ngModel)]="first_name" placeholder="First Name" pInputText />
            <input type="text" [(ngModel)]="last_name" placeholder="Last Name" pInputText />
            <div class="detail">
                <h5>Email : {{email}}</h5>

            </div>
            <div class="detail">
                <h5>Phone : {{phone}}</h5>

            </div>
            <div class="detail">
                <img src="../../assets/token.png">
                <h5>Tokens:</h5>
                <h5>{{tokens}}</h5>
            </div>
            <button (click)="saveProfile()" pButton type="button" label="Save" icon="pi pi-check" class="p-button-success"></button>
        </div>
        <h3>Deals Won</h3>
      
        <div class="dealsWon" *ngIf="wonDeals.length>0">
            <div class="deal" *ngFor="let deaL of wonDeals" >
                <!-- name,description,image,deal_id,status,trackURL -->
                <div class="image">
                    <img [src]="serverUrl+deaL.prize_image" />
                    </div>
                <div class="detail">
                    <h5>Prize Name : {{deaL.prize_name}}</h5>
                    <h5>Prize Description : {{deaL.prize_description}}</h5>
                    <p>Deal ID : {{deaL.deal_id}}</p>
                    <p>Status : {{(deaL.prize_status!=null && deaL.prize_status!=undefined)?deaL.prize_status:"Placed"}}</p>
                    <a *ngIf="(deaL.prize_trackURL!=null && deaL.prize_trackURL!=undefined)" [href]='deaL.prize_trackURL'>Link</a>
                    <p>No Tracking Url Provided Yet.</p>
                </div>
            </div>
        </div>

        <div class="dealsWon" *ngIf="wonDeals.length<=0">
            <p>
                No Deals Won Yet. Buy a Deal for a chance to win a prize.
            </p>
        </div>

    </div>
</div>